.contact {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 80vh;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.contact h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.contact-email {
    font-size: 1.2rem;
    color: #007BFF;
    text-decoration: none;
    border: 2px solid #007BFF;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.contact-email:hover {
    background-color: #007BFF;
    color: white;
}

.controls {
    margin-top: 20px;
}
